<!DOCTYPE html>
<html>

<head>
    <title>Create Project</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
</head>

<body>
<form class="form-narrow form-horizontal" th:action="@{|/projects/${project.getId()}/delete|}"  method="post">
    <fieldset>
        <legend>Are you sure you want to delete this project ?</legend>

        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button type="submit" class="btn btn-default" name="action" value="delete">Yes</button>
                <button type="submit" class="btn btn-default" name="action" value="cancel">No</button>
            </div>
        </div>
    </fieldset>
</form>
</body>
</html>