<!DOCTYPE html>
<html layout:decorator="task/layout">
<head>
    <title>Task List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>

<!--/* Content of this page will be decorated by the elements of layout.html (task/layout) */-->
<div layout:fragment="content">


    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <td>Donations</td>
            <td>Donator</td>
            <td>Project</td>
            <td>Time and Date</td>
        </tr>
        <tr th:if="${donations.empty}">
            <td colspan="4">No Donations</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="donation : ${donations}">
            <td th:text="${donation.getAmount()}"></td>
            <td th:text="${donation.getUser().getFullName()}"></td>
            <td th:text="${donation.getProjectId().getName()}"></td>
            <td th:text="${donation.getDate()}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>