<!DOCTYPE html>
<html layout:decorator="task/layout">
<head>
    <title>Task List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>

<!--/* Content of this page will be decorated by the elements of layout.html (task/layout) */-->
<div layout:fragment="content">

    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Description</td>
            <td>Required Amount</td>
            <td>Owner</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="project : ${projects}">
            <td th:text="${project.getId()}"></td>
            <td><a href="#" th:text="${project.getName()}"></a></td>
            <td th:text="${project.getdescriptionProject()}"></td>
            <td th:text="${project.getrequiredMoney()}"></td>
            <td th:text="${project.getUser().getFullName()}"></td>
            <td>
                <button type="submit" class="btn btn-default">Donate</button>
            </td>
            <td th:if="${currentUser.getFullName() == project.getUser().getFullName()}">
                <button type="submit" class="btn btn-default">Edit</button>
                <button type="submit" class="btn btn-default">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <td>Donations</td>
            <td>Donator</td>
        </tr>
        <tr th:if="${donation.empty}">
            <td colspan="4">No Donations</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="donation : ${donation}">
            <td th:text="${donation.getAmount()}"></td>
            <td th:text="${donation.getUser().getFullName()}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>