<!DOCTYPE html>
<html>

<head>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js"></script>
</head>
<body>

<!-- Navbar -->
<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">CrowdFund</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li th:classappend="${page == 'home' ? 'active' : ''}"><a href="#" th:href="@{/}">Home</a></li>
                <li th:classappend="${page == 'myprojects' ? 'active' : ''}"><a href="#" th:href="@{/myprojects}">My Projects</a></li>
                <li th:classappend="${page == 'projects' ? 'active' : ''}"><a href="#" th:href="@{/projects}">All Projects</a></li>
                <li th:classappend="${page == 'donations' ? 'active' : ''}"><a href="#" th:href="@{/donations}">My Pledges</a></li>
                <li th:classappend="${page == 'createprojects' ? 'active' : ''}"><a href="#" th:href="@{/createprojects}">Create Project</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"  th:utext = "${currentUser.getFullName()}"></a></li>
                <li><a href="#" th:utext = "${currentUser.getCredit()}"></a></li>
                <li><a>$</a></li>

            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
</body>
</html>